/* GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: gray;
}
/*Container*/
.container{
    background-color: purple;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px black;
}


/*Search*/
.search{
    margin-bottom: 2rem; /*32px*/
}
.search input{
    width: 100%;
    padding: 1rem; /*1.5rem*/
    font-size: 1.2rem;
    text-align: center;
    border: none;
    /* border-radius: 50px; */
    border-radius: 5px;
}

/*User-Card*/
.user-card{
    color: white;
    width: 100%; /*con estos tres limitamos el ancha de la card*/
    max-width: 768px;
    min-width: 320px;
}
.user-card img{
    display: block;
    margin: 0 auto;
    max-width: 180px;
    border: 3px solid gold;
    border-radius: 50%;
    box-shadow: 2px 2px 3px black;
}
.user-card h1{
    text-align: center;
    font-size: 1.5rem;
}
.user-card p{
    font-size: 1.2rem;
    text-align: center;
}

/*Data*/
.data{
    margin-bottom: .5rem; /* 2rem */
}
.data ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1.3rem;
}

/*Repos*/
.repos{
    display: flex;
    justify-content: center;
    gap: .5rem; /* separacion */
}
.repos a{
    text-decoration: none;
    color: white;
    background-color: gold;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}